<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Fights</a></li>
        <li><a href="#">Leader Board</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="main-container">
  <div class="row">
    <div class="col-md-offset-2 col-md-4">
      <div class="card">
        <ul class="stats">
          <li class="name"></li>
          <li class="record">Record:</li>
          <li class="age">Age:</li>
          <li class="height">Height:</li>
          <li class="weight">Weight:</li>
          <li class="weight_class">Weight Class:</li>
          <li class="wins_k">Knockouts:</li>
          <li class="wins_s">Submissions:</li>
          <li class="wins_d">Decisions:</li>
          <li class="strikes_a">Strikes Attempted:</li>
          <li class="strikes_s">Strikes Successful:</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <ul class="stats">
          <li class="name"></li>
          <li class="record">Record:</li>
          <li class="age">Age:</li>
          <li class="height">Height:</li>
          <li class="weight">Weight:</li>
          <li class="weight_class">Weight Class:</li>
          <li class="wins_k">Knockouts:</li>
          <li class="wins_s">Submissions:</li>
          <li class="wins_d">Decisions:</li>
          <li class="strikes_a">Strikes Attempted:</li>
          <li class="strikes_s">Strikes Successful:</li>
        </ul> 
      </div>
    </div>
  </div>

  <div class="row">
     <div class="col-md-offset-1 col-md-10">
      <div class="sub-container" id="lesser-fights">
      
      </div>
    </div>   
  </div>




