body {
	background: url('background.jpg');
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    padding: 2px 16px;
    background: url('card_background.jpg');
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}


ul {
	list-style-type: none;
}

#sign-in-container {
	background: url('card_background.jpg');
	padding: 20px;
}
